<h1>Create new instance</h1>
<form name="instance" , method="POST">
  <div class="form-group">
  <p>
    <strong>Name</strong>
    <input type="text" name="name">
  </p>
  <p>
    <strong>Description</strong>
    <input type="text" name="description">
  </p>
  <input type="submit" value="Submit">
  </div>
</form>