<h1>Create new instance</h1>
  <%= bootstrap_form_for @instances, url: "/", layout: :horizontal do |form| %>
    <%= form.text_field :name, label: "Name" %>
    <%= form.text_field :description, label: "Description" %>

    <%= form.submit %>
  <% end %>
