<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instance.name %>
  <%= @instance.description %>
</p>

<!--<%#= link_to 'Edit', edit_account_path(@) %> |-->
<%#= link_to 'Back', accounts_path %>
