<p id="notice"><%= notice %></p>

<h1>View Instance</h1>

<p>
  <strong>Name:</strong>
  <%= @instance.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @instance.description %>
</p>

<!--<%#= link_to 'Edit', edit_account_path(@) %> |-->
<%#= link_to 'Back', accounts_path %>
